<div class="signUp_Component" style="min-height: 100%">
  <div>
    <div class="signUp_FirstContent">
      <div id="FC_Logo" style="filter: brightness(0) invert(1)">
        <img
          src="assets/Instagram_logo.svg.png"
          alt=""
          height="70"
          width="175"
        />
      </div>
      <form>
        <div id="FC_Slogan" style="margin: 0 40px 10px">
          <span> Sign up to see photos and videos from your friends. </span>
        </div>
        <div id="FC_LoginFBButton">
          <button><span>Log in with Facebook</span></button>
        </div>
        <div id="FC_Or">
          <div class="middle-Or-Line"></div>
          <div class="middle-Or-Text">Or</div>
          <div class="middle-Or-Line"></div>
        </div>
        <div class="FC_Form_Text">
          <div>
            <label
              ><span>Mobile Number or Email</span>
              <input
                aria-label="Mobile Number or Email"
                aria-required="true"
                autocapitalize="off"
                autocomplete="tel"
                autocorrect="off"
                dir=""
                type="text"
                value=""
                name="emailOrPhone"
            /></label>
          </div>
        </div>
        <div class="FC_Form_Text">
          <div>
            <label
              ><span>Password</span
              ><input
                aria-label="Password"
                aria-required="true"
                autocapitalize="off"
                autocomplete="new-password"
                autocorrect="off"
                type="password"
                value=""
                name="password"
            /></label>
          </div>
        </div>
        <div class="FC_Form_Text">
          <div>
            <label
              ><span>Full Name</span
              ><input
                aria-label="Full Name"
                aria-required="false"
                autocapitalize="sentences"
                autocorrect="off"
                dir=""
                type="text"
                value=""
                name="fullName"
            /></label>
          </div>
        </div>
        <div class="FC_Form_Text">
          <div>
            <label
              ><span>UserName</span
              ><input
                aria-label="Username"
                aria-required="true"
                autocapitalize="off"
                autocorrect="off"
                maxlength="30"
                dir=""
                type="text"
                value=""
                name="username"
            /></label>
          </div>
        </div>
        <p id="FC_Policy">
          <span
            >People who use our service may have uploaded your contact
            information to Instagram.</span
          >
          <br />
          <br />
          <span
            >By signing up, you agree to our Terms , Privacy Policy and Cookies
            Policy .</span
          >
        </p>
        <div id="FC_SignUpButton">
          <button
            class="_acan _acap _acas _aj1- _ap30"
            disabled=""
            type="submit"
          >
            Sign up
          </button>
        </div>
      </form>
    </div>
    <div class="signUp_SecondContent">
      <span>
        Have an account ?
        <a href="login"><span>Log in</span></a>
      </span>
    </div>
    <div class="signUp_ThirdContent">
      <div id="TC_Top">
        <span>Get the app</span>
      </div>
      <div id="TC_Down">
        <div class="google_play">
          <a
            href="https://play.google.com/store/apps/details?id=com.instagram.android"
            target="_blank"
          >
            <img src="assets/play.png" alt="" height="40px" />
          </a>
        </div>
        <div class="microsoft">
          <a
            href="https://apps.microsoft.com/store/detail/instagram/9NBLGGH5L9XT"
            target="_blank"
          >
            <img src="assets/microsoft.png" alt="" height="40px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer /> -->
