<div class="footer">
  <div class="footer-item">
    <span id="a"><a href="https://about.meta.com/">Meta</a></span>
  </div>
  <div class="footer-item">
    <span id="b"><a href="https://about.instagram.com/">About</a></span>
  </div>
  <div class="footer-item">
    <span id="c"
      ><a href="https://about.instagram.com/en_US/blog">Blog</a></span
    >
  </div>
  <div class="footer-item">
    <span id="k"
      ><a href="https://about.instagram.com/about-us/careers">Jobs</a></span
    >
  </div>
  <div class="footer-item">
    <span id="d"><a href="https://help.instagram.com/">Help</a></span>
  </div>
  <div class="footer-item">
    <span id="e"
      ><a href="https://developers.facebook.com/docs/instagram">API</a></span
    >
  </div>
  <div class="footer-item">
    <span id="f"
      ><a href="https://privacycenter.instagram.com/policy/">Privacy</a></span
    >
  </div>
  <div class="footer-item">
    <span id="g"
      ><a href="https://help.instagram.com/581066165581870/">Terms</a></span
    >
  </div>

  <div class="footer-item">
    <span id="h"
      ><a href="https://www.instagram.com/explore/locations/"
        >Locations</a
      ></span
    >
  </div>
  <div class="footer-item">
    <span id="i"
      ><a href="https://www.instagram.com/web/lite/">Instagram Lite</a></span
    >
  </div>
  <div class="footer-item">
    <span id="j"
      ><a href="https://www.facebook.com/help/instagram/261704639352628"
        >Contact Uploading & Non-Users</a
      ></span
    >
  </div>
  <div class="footer-item">
    <span id="k"><a href="#">Meta Verified</a></span>
  </div>
</div>

<div class="copyright">
  <p>&#169; 2025 Instagram from Meta</p>
</div>
