<div class="footercomponent">
  <div class="footer-items">
    <div class="item-home">
      <a href=""> <i class="fas fa-regular fa-house"></i> </a>
    </div>

    <div class="item-explore">
      <a href=""><i class="fa-regular fa-compass"></i></a>
    </div>
    <div class="item-reels">
      <a href=""> <i class="fa-solid fa-video"></i> </a>
    </div>
    <div class="item-message">
      <a href=""><i class="fa-regular fa-message"></i> </a>
    </div>

    <div class="item-create">
      <a href=""><i class="fa-regular fa-square-plus"></i> </a>
    </div>
    <div class="item-profile">
      <a href=""><i class="fa-regular fa-user"></i> </a>
    </div>
  </div>
</div>
